In [1]:
n = 4
for i in range(4) :
    for j in range(0, i+1) :
        print("sudh" , end = " ")
    print("\n")

sudh

sudh sudh

sudh sudh sudh

sudh sudh sudh sudh

In [3]:
n = 4
for i in range(n) :
    for j in range(i, n- 1) :
        print(" "* len("sudh") , end = " ")
    for j in range(i+1) :
        print("sudh" , end = " ")
    for j in range(i) :
        print("sudh" , end = " ")
    print()

               sudh
          sudh sudh sudh
     sudh sudh sudh sudh sudh
sudh sudh sudh sudh sudh sudh sudh

In [4]:
t = (3,23,45,65,78,2,4,5,6)

In [5]:
for i in range(len(t)) :
    print(i,t[i])

0 3
1 23
2 45
3 65
4 78
5 2
6 4
7 5
8 6

In [6]:
s = "ineoron"
range(len(s))

range(0, 7)

In [7]:
for i in range(len(s)) :
    print(i , s[i])

0 i
1 n
2 e
3 o
4 r
5 o
6 n

In [ ]:
in reverse order

In [8]:
s = "ineoron"
range(len(s))

range(0, 7)

In [11]:
list(range(len(s)))

[0, 1, 2, 3, 4, 5, 6]

In [16]:
list(range(len(s)-1 , -1 , -1))

[6, 5, 4, 3, 2, 1, 0]

In [17]:
for i in range(len(s)-1 , -1 , -1) :
    print(i ,s[i])

6 n
5 o
4 r
3 o
2 e
1 n
0 i

In [18]:
d = {'key1': 'sudh','contact' : 'sudhir@gimail' ,"postion" : 'xyz'}

In [19]:
d.items()

dict_items([('key1', 'sudh'), ('contact', 'sudhir@gimail'), ('postion', 'xyz')])

In [21]:
for i in d.items():
    print(i , type(i),type(i[1]))

('key1', 'sudh') <class 'tuple'> <class 'str'>
('contact', 'sudhir@gimail') <class 'tuple'> <class 'str'>
('postion', 'xyz') <class 'tuple'> <class 'str'>

In [22]:
l = ["sudh" , "kumar" , 325645 , "sudhir@gmail" , 345, 354855]

In [25]:
l1 = []
for i in l :
    if type(i) == int :
        l1.append(i)
        print(l1)

[325645]
[325645, 345]
[325645, 345, 354855]

In [24]:
l1

[325645, 345, 354855]

In [26]:
d = {'key1': 'sudh','contact' : 'sudhir@gimail' ,"postion" : 'xyz'  , 345 : "sudhir"}

In [27]:
d.items()

dict_items([('key1', 'sudh'), ('contact', 'sudhir@gimail'), ('postion', 'xyz')])

In [2]:
d = {'key1': 'sudh','contact' : 'sudhir@gimail' ,"postion" : 'xyz'  , 345 : "sudhir"}

In [4]:
for i in d :
    print(i)

key1
contact
postion
345

In [11]:
for i in d :
    if type(i) == int :
        print(i ,":" , d[i])

345 : sudhir

In [6]:
s = "aaaabbccd"

In [7]:
set(s)

{'a', 'b', 'c', 'd'}

In [8]:
for i in set(s) :
    print(i , ":" , s.count(i))

d : 1
c : 2
b : 2
a : 4

In [9]:
s.count('a')

4

In [ ]:
set(s) use for  showing used uniqe word,  s.count('a') used for count number of word.

In [12]:
d = {'key1': 'sudh','contact' : 'sudhir@gimail' ,"postion" : 'xyz'  , 345 : "sudhir"}

In [19]:
 i = 345665826589566
    for j in i :
        print(j)

IndentationError: unexpected indent (Temp/ipykernel_17192/3275920066.py, line 2)

In [16]:
i = 345665826589566 
str(i)

'345665826589566'

In [23]:
 i = 345665826589566
str(i) = 345665826589566
    for j in str(i) :
        print(j)

SyntaxError: cannot assign to function call (Temp/ipykernel_17192/1391826696.py, line 2)

In [30]:
t = ("sudh" , "kumar" ,[1,2,3,4,5,6,7] ,(3,4,5,6), {3 : 3 ,"key1":"sudh" , "key2":"kumar"})

In [31]:
for i in t : 
    if type(i) ==list or type(i) == tuple :
        for j in i :
            if j == 3 :
                print(j)

3
3

In [ ]:
for finding 3 for list & tuple & dictionary from the list

In [32]:
for i in t : 
    if type(i) ==list or type(i) == tuple :
        for j in i :
            if j == 3 :
                print(j)
    if type(i) == dict :
        for k,v in i.items():
            if k == 3 or v == 3 :
                print(k)
                print(v)

3
3
3
3

In [ ]:
q1
to print 
ineooun
ineooun ineooun
ineooun ineooun ineooun

In [ ]:
q2
       ineooun
   ineooun    ineooun
ineooun ineooun  ineooun
  ineooun      ineooun
         ineooun
        
q3 
l = [[1,2,3,4] , (2,3,4,5),(3,4,5,6,7), set([23,4,5,45,45,4,5]),]