In [1]:
def test(a,b) :
    '''this is my function for addition'''
    return a+b

In [2]:
test(4,6)

10

In [3]:
def test1(a,b,c,d,e):
    return a,b,c,d,e

In [8]:
test1(3,6,5,4,7)

(3, 6, 5, 4, 7)

In [9]:
def test(*a) :
    return a

In [10]:
test(34,56)

(34, 56)

In [ ]:
#test(*a) or (*args) used for multiple number pass

In [11]:
test(2,3,5)

(2, 3, 5)

In [12]:
def test4(*args) :
    return args

In [13]:
test4(34,56,6,76,7)

(34, 56, 6, 76, 7)

In [18]:
def test5(*a) :
    l = []
    for i in a :
        l.append(i)
    return l

In [20]:
test5(2,3,45,682,56,2)

[2, 3, 45, 682, 56, 2]

In [21]:
def test6(a,b,c,d, *m):
    return a,b,c,d, m

In [22]:
test6(3,5,68,25,56.5,)

(3, 5, 68, 25, (56.5,))

In [30]:
def test7(*m ,a,b,c,d,e):
    return m , a,b,c,d,e

In [31]:
test7(3,5,52,5,55)

TypeError: test7() missing 5 required keyword-only arguments: 'a', 'b', 'c', 'd', and 'e'

In [38]:
def test8(**a) :
    return a

In [39]:
#(**kwargs) you want to pass dictionary

test8(b = 4,c = 5,d = 6,e = 4)

In [40]:
def test9(*m , **s) :
    return m , s

In [37]:
test9(345,2565,52,2,b=22,c=6,d=7,g=9)

((345, 2565, 52, 2), {'b': 22, 'c': 6, 'd': 7, 'g': 9})

In [42]:
def test10(*m):
    n = 0
    for i in m :
        if type(i) ==int :
            n = n+i
    return n

In [43]:
test10(2,3,4,5,6,65)

85

In [44]:
def test11(*m):
    n = 1
    for i in m :
        if type(i) ==int :
            n = n*i
    return n

In [45]:
test11(4,5,6,5,6,52,6)

1123200

In [46]:
n = lambda a,b :a+b

In [47]:
n(4,5)

9

In [ ]:
#lambda called a anonymous function bcoz there in no funtion name

In [48]:
b = lambda *sudh :sudh

In [49]:
b(4,5,5,5,5,5,7)

(4, 5, 5, 5, 5, 5, 7)

In [50]:
t = (3,4,5,6,5,6,5,6)
l = []
for i in t :
    l.append(i)

In [51]:
l

[3, 4, 5, 6, 5, 6, 5, 6]

In [52]:
s = "sudh"

In [55]:
[i for i in s]

['s', 'u', 'd', 'h']

In [57]:
[ i*i for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [58]:
l = []
for i in range(10):
    l.append(i*i)

In [59]:
l

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [61]:
l = lambda *x : [i**2 for i in x]

In [62]:
l(4,65,6,6,6,6)

[16, 4225, 36, 36, 36, 36]

In [74]:
def test14(**kwargs) :
    count = 0
    print(kwargs)
    print(kwargs.values())
    for v in kwargs.values():
        if type(v) == str or type(v) == list:
            count += 1

        return count

In [73]:
test14(a = 7 , b = "sudh" , c = 354 , d = "sudh", l = [2,3,4,5, "sudh"])

{'a': 7, 'b': 'sudh', 'c': 354, 'd': 'sudh', 'l': [2, 3, 4, 5, 'sudh']}
dict_values([7, 'sudh', 354, 'sudh', [2, 3, 4, 5, 'sudh']])

0

In [ ]:
Todays task :
    q1 : Try to print a prime number in between 1 to 1000
    q2 : Try to write a function which  is equivalent  to print function in python
    q3 : Try to write a function which is a replica of list append , extend and pop function 
    q4 : Try to write a lambda function which can return a concatination of all the string that we will pass
    q5 : Try to write a lambda function which can return list of square of all the data between 1-100 
    q6 : Try to write a 10 Different different example of lambda function with a choice of your taks 
    q7 : Try to wwrite a funtion whihc can perform a read operation from .txt file 
        
        shivan@ineuron.ai
        sudhashu@ineuron.ai