In [1]:
a = 10
if a == 10:
    print("this is my first")

this is my first

In [3]:
a = 10
if a == 11:
    print("this is my first")

In [ ]:
IF condition failed so its blank output

In [4]:
  a = 10
if a > 5:
    pass

In [ ]:
IF condition failed so its blank output pass is keyword to execute

In [6]:
  a = 10
if a > 8:
    print("Print this is true")

Print this is true

In [7]:
  a = 10
if a != 11:
    print("Print this is true")
else :
    print("print this")

Print this is true

In [8]:
  a = 10
if a == 11:
    print("Print this is true")
else :
    print("print this")

print this

In [9]:
 a = 10
if a == 12:
    print("Print this is false ")
elif a == 11:
    print("we are  trying to compare 10 with 11")
else :
    print("All the blocks")

All the blocks

In [10]:
 a = 10
if a == 12:
    print("Print this is false ")
elif a == 10:
    print("we are  trying to compare 10 with 11")
else :
    print("All the blocks")

we are  trying to compare 10 with 11

In [12]:
price = 500
if price > 500 :
    print(" Dont Buy shirt done")
elif price <= 500 :
    print(" Buy shirt done")

 Buy shirt done

In [13]:
price = 500
if price > 500 :
    print(" Dont Buy shirt done")
elif price < 500 :
    print(" Buy shirt done")
else price == 500:
    print("dont know")

SyntaxError: invalid syntax (Temp/ipykernel_20616/1451323881.py, line 6)

In [ ]:
we cant use else as conditon  thats why getting error

In [14]:
price = 500
if price > 500 :
    print(" Dont Buy shirt done")
elif price < 500 :
    print(" Buy shirt done")
else :
    print("dont know")

dont know

In [15]:
l = [1,2,3,4,5,6]
2 in l

True

In [16]:
if 2 in l:
    print("try to perform task")
else :
    print("do not perform task")

try to perform task

In [17]:
if 60 in l:
    print("try to perform task")
else :
    print("do not perform task")

do not perform task

In [18]:
l

[1, 2, 3, 4, 5, 6]

In [19]:
if 1 in l :
    print("try to do a addition")
elif 2 in l :
    print("try to do sub")
elif 3 in l :
    print("try to do mul")

try to do a addition

In [20]:
if 10 in l :
    print("try to do a addition")
elif 2 in l :
    print("try to do sub")
elif 3 in l :
    print("try to do mul")

try to do sub

In [21]:
if 10 in l :
    print("try to do a addition")
elif 2 in l :
    print("try to do sub")
elif 3 in l :
    print("try to do mul")
if 4 in l :
    print("this is new statement")

try to do sub
this is new statement

In [22]:
a = 400

In [23]:
b = input()

200

In [24]:
b

'200'

In [25]:
type(b)

str

In [ ]:
input give output as string so need to change in integer

In [ ]:
b = int(input())

In [2]:
price = int(input())
if price < 500 :
    print("i will able to buy")
    if price < 400 :
        print("i will buy jacket")
    elif price < 300 :
        print("i will buy shirt")
    else :
        print("i want nothing")
else :
    print("NA")

600
NA

In [4]:
price = int(input())
if price < 500 :
    print("i will able to buy")
    if price < 400 :
        print("i will buy jacket")
    elif price < 300 :
        print("i will buy shirt")
    else :
        print("i want nothing")
else :
    print("NA")
    if price > 500 :
        print("lets buy")

600
NA
lets buy

In [5]:
marks = int(input())
if marks < 600 :
    print("No GRE")
    if marks < 500 :
        print("ready for toffel")
    elif marks < 400 :
        print("ready for toffel")
    else :
        print("i want nothing")
else :
    print("NA")
    if marks > 600 :
        print("ready for GRE")

700
NA
ready for GRE

In [6]:
val = float(input("enter a floating point number"))
if val == 0 :
    if val == 0 :
        print("enteer value is zero")
    else :
        print(" enter value is positive number")
else :
    print("enter number is negative number")

enter a floating point number324
enter number is negative number

In [7]:
a = 10
if a <= 10 :
    print("try to do something")

try to do something

In [8]:
a = 10
if a < 10 or a == 10:
    print("try to do something")

try to do something

In [9]:
a = 10
if a < 10 or a > 10:
    print("try to do something")

In [12]:
a = 10
if a < 10 and a == 10:
    print("try to do something")

In [13]:
a = "sudh"
if a == "sudh" and a == "sudh" :
    print("this is sudh")

this is sudh

In [15]:
a = 10
b = 11
c = 12
d = 13
if a == 9 and b == 11 and c == 12 and c == 13 :
    print("let do")

In [16]:
a = 10
b = 11
c = 12
d = 13
if a == 9 or b == 11 or c == 12 or c == 13 :
    print("let do")

let do

In [17]:
d = {'key1':"value", "key2" : "sudh", "key3" : "ineoron"}

In [19]:
if d['key1'] == "value" and d['key2'] and d['key3'] == "ineoron" :
    print("All values are varified")
    print(d.values())
else :
    print("All are not varified")

All values are varified
dict_values(['value', 'sudh', 'ineoron'])

In [20]:
l = [1,2,3,4,5,"sudh" , 24.25]

In [21]:
l[0]

1

In [22]:
l[1]

2

In [23]:
l[2:5]

[3, 4, 5]

In [25]:
for i in l :
    if type(i) == int or type(i) == float :
        print(i+1)
    elif type(i) == str :
        print(i + str(l))

2
3
4
5
6
sudh[1, 2, 3, 4, 5, 'sudh', 24.25]
25.25

In [26]:
l1 = []
for i in l :
    if type(i) == int:
        l1.append(i)

In [27]:
l1

[1, 2, 3, 4, 5]

In [ ]:
l = [1,2,3,4,5,"sudh" , 24.25]

In [3]:
a = 10
b = 11
c = 12
d = 13
if a == 9 and b == 11 and c == 12 and d == 13 :
    print("its true")

In [ ]:
00 00 = 00,  01 00 = 00, 01 01 = 01, 00 01 = 00  for and condition

In [ ]:
00 00 = 00,  01 00 = 01, 01 01 = 01, 00 01 = 01 for or condition

In [4]:
a = 10
b = 11
c = 12
d = 13
if a == 9 or b == 11 or c == 12 or d == 13 :
    print("its true")

its true

In [6]:
salary = int(input())
if salary > 25000 :
    print("I going to purchase laptop")
    if salary < 25000 :
        print("I am not going to purchase laptop")
    elif salary < 23000 :
        print("I am going to purchase a mobile")
    elif salary < 21000 :
        print("I am not going to purchase anything")
    else :
        print("you have not good salary")
else :
    print("No comment")

24000
No comment

In [10]:
d = {'key1':"value", "key2" : "sudh", "key3" : "ineoron"}

In [11]:
if d['key1'] == "value" and d['key2'] == "sudh" and d['key3'] == "ineoron" :
    print("All values are varified")
    print(d.values())
else :
    print("All are not varified")

All values are varified
dict_values(['value', 'sudh', 'ineoron'])

In [12]:
d = {'key1':"value", "key2" : "sudh", "key3" : "ineoron"}

In [13]:
if d['key1'] == "value" or d['key2'] == "sudh" or d['key3'] == "ineoron" :
    print("All values are varified")
    print(d.values())
else :
    print("All are not varified")

All values are varified
dict_values(['value', 'sudh', 'ineoron'])

In [14]:
l = [1,2,3,4,5,6,6]

In [15]:
l

[1, 2, 3, 4, 5, 6, 6]

In [34]:
l1 = []
for i in l :
    if type(i) == int :
        l1.append(i)
        print(i+2)

3
4
5
6
7
8
8

In [30]:
l1

[1, 2, 3, 4, 5, 6, 6]

In [35]:
l = [1,2,3,4,5,"sudh" , 24.25]

In [54]:
for i in l :
    if type(i) == int or type(i) == float :
        print(i+1)
    elif type(i) == str :
        print(i + str(l))

2
3
4
5
6
sudh[1, 2, 3, 4, 5, 'sudh', 24.25]
25.25

In [41]:
l = [1,2,3,4,5,"sudh" , 24.25]

In [56]:
for i in l :
    if type(i) == int or type(i) == float :
        print(i+1)
    elif type(i) == str :
        print(str(i) + str(1))

2
3
4
5
6
sudh1
25.25

In [57]:
a = "sudh"
b = str(1)
a+b

'sudh1'